body {
    margin-top: 60px;
    background-color: bisque;
    text-align: center;
    font-size: 120%;
}

em:hover {
    color: firebrick;
}

h2 {
    color: firebrick;
}

#myCounter {
    display: flex;
    justify-content: center;
}

button {
    width: 50px;
    height: 50px;
    background-color: firebrick;
    color: bisque;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 120%;
    margin: 10px 40px 0 50px;
}

button:hover {
    box-shadow: 0 0 20px firebrick;
}

button:active{
    background-color: bisque;
    color: firebrick;
}